<div class="container-fluid">

    <div class="row">
        <div class="col">
            <app-navbar></app-navbar>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <app-slider></app-slider>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <app-mycards [img]="img2"></app-mycards>
        </div>
        <div class="col"> <app-mycards [img]="img4"></app-mycards></div>
        <div class="col"> <app-mycards [img]="img5"></app-mycards></div>
        
        <div class="col"> <app-mycards [img]="img3"></app-mycards></div>
       
    </div>
    <div class="row">
        <div class="col">
            <app-mycards [img]="img2"></app-mycards>
        </div>
        <div class="col"> <app-mycards [img]="img5"></app-mycards></div>
        <div class="col"> <app-mycards [img]="img2"></app-mycards></div>
        <div class="col"> <app-mycards [img]="img3"></app-mycards></div>
        
        
    </div>
    <div class="row">
        <div class="col">
            <app-mycards [img]="img2"></app-mycards>
        </div>
        <div class="col"> <app-mycards [img]="img5"></app-mycards></div>
        <div class="col"> <app-mycards [img]="img2"></app-mycards></div>

        <div class="col"> <app-mycards [img]="img4"></app-mycards></div>
       
    </div>

</div>